.revtext {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	background-color: #891636;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.publist {
	background-color: #CCCCCC;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
